/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";            /*ここを追加*/

// 全ページ共通　大枠
.big_waku {
    width: 90%;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

// --写真関係--
// 写真の枠
.shasin_wakus {
    width:60%;
}
// 一つの写真
.shasin_wakus {
    width: 80%;
    mergin: 0 auto;
}

// header
#slidemenu {
    width: 100%;
    background-color: #ffe4e1;
    height: 45px;
    position: relative;
}
.navbar {
    position: absolute;
    top: 10px;
    right: 22px;
    text-align: right;
    // padding: 10px 0;
    margin: 0 auto;  
}
li {
    float: left;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-family: sans-serif;
    font-size: 12px;
    color: rgb(243, 120, 19);
}
